.input-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 12px 0 20px 0; 
  gap: 8px; 
}

.create-group-container input {
  flex-grow: 1;
  padding: 14px 24px;
  border: 1px solid #F3F4F6;
  background-color: #F3F4F6;
  border-radius: 5px;
  margin-right: 8px;
}

.input-button-container input {
  width: 100%;
  padding: 14px 24px;
  border-radius: 5px;
  background-color: #F3F4F6;
  border: 1px solid #F3F4F6;
  margin-right: 8px;
}

.input-button-container p{
  font-weight: 600;
  margin-bottom: 8px; 
  display: block;
}

.selected-participants {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; 
  margin-bottom: 16px;
  margin-top: 12px;
}

.selected-card {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin: 0; 
}

.selected-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.remove-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  margin-left: 8px;
}

.participants-list {
  max-height: 300px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  padding-top: 12px; 
  margin-bottom: 20px;
}

.group-section h3 {
  margin: 12px 0 16px 0;
  font-size: 14px;
  color: #666;
}

.participant-card {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  margin: 8px 0; 
}

.participant-card:hover {
  background: #f5f5f5;
}

.participant-card.selected {
  background: #e1f5fe;
}

.participant-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.invite-code-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #F3F4F6;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #1E3A8A;
  width: fit-content;
  margin-bottom: 16px; 
}

.copy-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  background: #E0F2FE;
  color: #1E40AF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: background 0.3s ease, color 0.3s ease;
}

.copy-button:hover {
  background: #1E40AF;
  color: #E0F2FE;
}
