/* Container para centralizar o spinner, se necessário */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ocupa a altura do container pai */
    padding: 20px;
  }
  
  /* O spinner em si */
  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #f3f3f3; /* Cinza claro para o fundo do círculo */
    border-top: 5px solid #3f51b5; /* Cor principal do seu tema (azul do ranking) */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Animação de rotação */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }